/*!***************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/plan/plan.styles.css ***!
  \***************************************************************************************/
.plan {
  color: black;
  font-size: 26px;
}

.active {
  text-decoration: underline;
}
/*!**********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/app.styles.css ***!
  \**********************************************************************/
.block {
  margin-right: 10px;
  color: green;
  border: 1px solid;
}
/*!******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles.css ***!
  \******************************************************************/
html {
  font-size: 30px;
}

h1 {
  padding: 0 50px;
  font-size: 30px;
}

ul {
  line-height: 1.5;
  max-width: 900px;
  font-size: 0.9em;
}

li {
  padding: 0 10px;
}
